a{
font-family: helvetica;	
font-size: 20px;	
}

.Sertisseur{
	color:#795548;	
}
.Bijoutier{
	color:#FF9800;	
}

.Fondeur{
	color:#03A9F4;	
}

.Contrôleur{
	color:#F44336;	
}

.Polisseur{
	color:#607D8B;
}

.Tailleur{
	color:#008b03;
}