body{
	margin: auto;
	width: 100%;
}


#carre
{
    margin: auto;
    margin-top: 100px;
    margin-left: 225px;
    margin-right:  auto;
    width: 275px;
    height: 300px;
    background-color: indianred;
    color: black;
    font-size: 1px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
}
p
{
    margin: 0;
    text-align: right;
}
img
{
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}